@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @supports (-moz-appearance: none) {
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
    scrollbar-width: thin;
  }

  @supports (-webkit-font-smoothing: antialiased) {
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: inherit;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: light-dark(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .menu {
    @apply w-full min-w-0;
    & .menu-button {
      @apply flex w-full items-center justify-center text-left;
    }
    & .menu-list {
      @apply max-h-48 overflow-y-auto bg-inherit;
    }
    & .menu-item {
      @apply flex items-center;
    }
    &[aria-expanded="true"] .menu-list-wrapper {
      @apply grid-rows-[1fr] opacity-100;
    }
    & .menu-list-wrapper {
      @apply relative z-10 grid w-full grid-rows-[0fr] overflow-hidden opacity-0 duration-150;
      transition-property: grid, opacity, margin;
    }
  }

  .subtask {
    & svg {
      & circle:first-child {
        @apply fill-white stroke-gray-200 transition-all duration-200;
      }
      & circle:nth-child(2) {
        @apply origin-center rotate-[200deg] fill-white transition-all duration-200;
      }
      & polyline {
        @apply fill-none stroke-white transition-all delay-150 duration-200;
        stroke-dashoffset: -1;
      }
    }

    & input[checked] + svg {
      & circle:first-child {
        @apply fill-current stroke-transparent;
      }
      & circle:nth-child(2) {
        @apply fill-current stroke-current;
        stroke-width: 6;
      }
      & polyline {
        stroke-dashoffset: 0;
      }
    }
  }
}

.dropdown-modal[open] {
  transform: translateY(0);
  @starting-style {
    transform: translateY(-100%);
  }
}

.dropdown-modal {
  /* Final state of the exit animation */
  transform: translateY(-100%);
  transition:
    transform 300ms,
    overlay 300ms allow-discrete,
    display 300ms allow-discrete;
  @apply ease-in-out;
}

.popup-modal[open] {
  opacity: 1;
  transform: scale(1);
  @starting-style {
    opacity: 0;
    transform: scale(0.9);
  }
}
.popup-modal {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out,
    overlay 150ms allow-discrete,
    display 150ms allow-discrete;
}

/* Transition for the popover's backdrop */

.dropdown-modal::backdrop,
.popup-modal::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete,
    background-color 250ms;
}

.dropdown-modal[open]::backdrop,
.popup-modal[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
  @starting-style {
    background-color: rgb(0 0 0 / 0%);
  }
}

@keyframes fadeOut {
  25% {
    transform: scale(0.8);
  }
  40%,
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.loading {
  width: 50px;
  height: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  & .circle,
  & .shadow {
    width: 10px;
    position: absolute;
    border-radius: 50%;
    left: 0%;
    transform-origin: 50%;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
  }
  & .circle {
    height: 10px;
    background-color: black;
    animation-name: circle;
  }
  & .shadow {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    z-index: -1;
    animation-name: shadow;
  }

  & .circle:nth-child(2),
  & .shadow:nth-child(4) {
    left: calc(50% - 5px);
    animation-delay: 0.1s;
  }
  & .circle:nth-child(3),
  & .shadow:nth-child(5) {
    left: auto;
    right: 0%;
    animation-delay: 0.2s;
  }
}

@keyframes circle {
  0% {
    top: calc(100% - 5px);
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  30% {
    height: 10px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5, 1);
    filter: blur(0);
  }
  30% {
    transform: scale(1, 1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.2, 0.5);
    opacity: 0.4;
    filter: blur(4px);
  }
}

@property --pos {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

.moving-screen-light::after {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0rem;
  background-image: radial-gradient(
    circle at 0 var(--pos) in hsl,
    #ffffff3d,
    #00000030
  );
}

.roundedCorner {
  position: relative;
}
.roundedCorner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 100%;
  border-radius: 0 0 2rem 2rem;
  background-color: inherit;
  background-image: var(--bg-img);
  z-index: 1;
}

.numbered-list {
  counter-reset: index;
  padding-left: 1.5rem;
  & li {
    position: relative;
    margin-bottom: 0.5rem;
  }
  & li::after {
    @apply absolute aspect-square size-4 text-center text-xs font-medium;
    content: counters(index, ".", decimal);
    counter-increment: index;
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--tw-color);
  }
  & li::before {
    @apply absolute aspect-square size-4 rounded-full;
    content: "";
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
  }
}
